body,canvas,div,html{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}body{line-height:1;background:#f7b4bc}canvas{position:absolute;left:0;bottom:0}.logo{text-align:center}svg{display:inline-block;margin-top:10%;width:30%}.letters-white{fill:#fff}