<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="media/css/style.css">
</head>
<body>
	<div class="logo">
		{% include 'logo.twig' %}
	</div>
	<canvas id="canvas"></canvas>

	<script type="text/javascript" src="media/js/app.js"></script>
</body>
</html>