<svg version="1.1" class="svg2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="233.2 -47.5 524.3 148.7" style="visibility: visible;" xml:space="preserve"><g class="letters"> <path mask="url(#mask12D)" class="letters-white" d="M685.9,78.1c0.2,0.1,0.4,0.5,0.3,0.7c-0.1,0.4-0.3,0.7-0.5,1.1c-0.2,0.4-0.4,0.8-0.4,1.3
	c0,0.3,0.1,0.6,0.3,0.8c0.9,0.7,1.8,1.3,2.7,2c0.8,0.6,1.6,1.2,2.5,1.8c0.7,0.5,1.4,0.9,2.3,1.2s1.6,0.8,2.4,1.3
	c0.5,0.4,1.1,0.8,1.7,1.1c0.9,0.5,1.9,1.1,2.8,1.6c0.3,0.2,0.6,0.4,0.9,0.5c1.3,0.5,2.5,1.3,3.9,1.7c0.2,0,0.3,0.1,0.5,0.2
	c0.9,0.6,1.9,0.8,2.7,1.5c1.1,0.4,2,1,3,1.6c0.6,0.4,1.2,0.6,1.9,0.8c1.1,0.2,2.1,0.5,3.2,0.7c1,0.2,2,0.4,3,0.4
	c0.7,0,1.5,0.1,2.2,0.1c0.8,0,1.7,0,2.5-0.1s1.5-0.4,2.1-1c0.2-0.2,0.3-0.3,0.5-0.5c0.6-0.6,1.2-1,2-1.2c0.7-0.2,1.3-0.5,1.8-1
	c0.3-0.3,0.7-0.6,1.1-0.8s0.6-0.5,0.8-0.8c0.1-0.3,0.2-0.5,0.4-0.8c0.2-0.6,0.6-1.1,1.1-1.5c1.3-1.1,2.2-2.6,3.2-3.9
	c0.5-1.2,1.4-2.2,2.2-3.2c0.1-0.2,0.3-0.3,0.4-0.5c0.1-0.5,0.4-0.8,0.7-1.2c0.9-1.1,1.7-2.3,2.6-3.4c1.1-1.4,2.1-2.8,3.2-4.2
	c0.3-0.5,0.7-0.9,1.1-1.3c0.9-0.8,1.5-1.8,2.3-2.7c0.4-0.5,0.8-1.1,1.1-1.7c0.5-0.8,1-1.7,1.4-2.5c0.6-1.1,1.2-2.2,1.8-3.3
	c0.6-1.1,1-2.1,1.6-3.2c0.8-1.4,1.2-2.9,1.2-4.5c0-0.7,0-1.3,0.1-2c-0.4-0.7-0.5-1.5-0.6-2.4c0-0.5-0.1-0.9-0.1-1.4
	c0-0.3,0-0.7-0.1-1c0-0.5-0.1-1-0.1-1.5c0-1.9-0.5-3.7-1.5-5.4c-0.9-1.6-1.5-3.3-2.5-4.8c-0.5-0.8-0.9-1.7-1.4-2.5
	c-0.3-0.6-0.8-1.1-1.4-1.4c-1.1-0.7-2.3-1.3-3-2.4c-0.1-0.2-0.3-0.3-0.5-0.4c-1.2-0.9-2.3-1.8-3.5-2.7c-0.4-0.3-0.7-0.5-1.1-0.7
	c-1.3-0.6-2.6-1.4-4-1.9c-0.2-0.1-0.4-0.2-0.6-0.3c-0.6-0.3-1.2-0.7-1.8-0.9c-1.4-0.6-2.6-1.4-3.9-2.1c-1.2-0.7-2.3-1.5-3.7-1.7
	c-0.3,0-0.5-0.2-0.8-0.4c-0.2-0.1-0.4-0.2-0.6-0.3c-0.1,0-0.3,0-0.5,0.1c-0.1,0-0.2,0.1-0.2,0.2c-0.6,1-1.3,2-1.9,3
	c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.2,0,0.5,0.2,0.6c0.3,0.2,0.5,0.4,0.8,0.7c0.1,0.1,0.1,0.2,0,0.3c-0.1,0.1-0.3,0.3-0.4,0.3
	c-0.2,0-0.4-0.2-0.6-0.3c-0.5-0.2-0.7-0.2-1,0.3c-0.7,1.3-1.4,2.6-2.2,3.9c-0.1,0.2-0.1,0.5,0.1,0.6c0.5,0.4,0.9,0.9,1.5,1.2
	c1.1,0.6,2,1.5,3.1,2.1c0.2,0.1,0.3,0.5,0.1,0.8l-0.1,0.1c-1.2,1.6-2.5,3.2-3.8,4.8c-1.3,1.5-2.5,3.2-3.7,4.9
	c-1.3,1.8-2.5,3.6-3.8,5.4c-1.8,2.3-3.5,4.6-5.1,7c-1.7,2.7-3.3,5.5-5,8.3c-0.8,1.3-1.6,2.6-2.4,3.9c-1.1,1.7-2.1,3.4-3.2,5
	c-0.3,0.4-0.6,0.8-0.9,1.2c-0.1,0.2-0.4,0.2-0.6,0c-0.3-0.2-0.6-0.4-0.8-0.6c-0.9-0.7-2.2-1.9-3.2-2.4L685.9,78.1 M743,55
	c0,0.4-0.2,0.8-0.4,1.1c-0.6,1-1.3,2-1.9,3c0,0-0.1,0.1-0.1,0.2c-0.7,1.9-2,3.4-2.9,5.2c-0.2,0.4-0.5,0.8-0.8,1.1
	c-0.3,0.3-0.5,0.6-0.7,0.9s-0.5,0.6-0.7,0.9c-0.7,0.9-1.5,1.7-2.2,2.6c-0.6,0.9-1.3,1.7-1.9,2.6c-0.2,0.3-0.4,0.5-0.6,0.8
	c-1.2,1.5-2.4,3-3.4,4.7c-0.7,1.1-1.5,2.1-2.2,3.2c-0.5,0.8-1,1.6-1.7,2.3c-0.6,0.7-1.3,1.3-2,1.9c-0.3,0.3-0.7,0.4-1.1,0.4
	c-1.2,0.1-2.5,0-3.7-0.3c-0.1,0-0.2,0-0.3-0.1c-1.4-0.7-2.8-1.3-4-2.2c-0.6-0.5-1.2-0.8-1.9-1c-0.9-0.2-1.7-0.7-2.5-1.1
	c-0.3-0.2-0.6-0.3-0.9-0.5c-1-0.4-0.8-0.7-0.5-1.4c0.5-1.1,1.2-2.2,1.9-3.2c1.9-2.9,3.7-5.9,5.6-8.9c0.7-1.2,1.4-2.3,2.1-3.5
	c1.3-2.2,2.6-4.4,4.1-6.5c0.5-0.7,1-1.3,1.6-2c0.3-0.4,0.6-0.8,0.9-1.2c0.7-1.1,1.5-2.1,2.3-3.2c0.9-1.2,1.7-2.4,2.5-3.6
	c0.9-1.3,1.9-2.7,3-3.9c1.3-1.6,2.6-3.2,3.9-4.7c0.2-0.2,0.5-0.3,0.8-0.1c1.5,1.1,2.9,2.1,4.4,3.2c0.5,0.3,0.8,0.8,1.1,1.3
	c0.7,1.2,1.3,2.4,1.9,3.6c0.3,0.6,0.5,1.3,0.5,2c0,1.1,0.1,2.2,0.1,3.5C743.1,52.9,743.1,53.9,743,55z"></path><path mask="url(#mask12N3)" class="letters-white" d="M691.6,71.8c0.1-0.1,0.3-1,0.3-1.1c0.6-1.5,1.4-2.9,2-4.3c1-2.3,2.3-4.5,3.6-6.8
	c1.1-2,2.2-3.9,3.3-6c1.7-3.3,3.5-6.5,5.6-9.5c0.8-1.2,1.6-2.3,2.4-3.5c1.2-1.9,2.5-3.8,3.7-5.7c1.6-2.6,3.2-5.2,5-7.7
	c1.1-1.5,2.1-3.1,3.3-4.6c1.4-1.8,2.8-3.8,4.1-5.6c0.6-0.9,1.1-1.8,1.7-2.8c0.2-0.3,0-0.7-0.3-0.8s-0.6-0.3-1-0.3
	c-0.9-0.2-1.8-0.4-2.6-0.8c-0.4-0.2-0.8-0.1-1.2,0c-0.2,0.1-0.5,0-0.6-0.2c-0.2-0.3-0.4-0.5-0.8-0.6c-0.3-0.1-0.7-0.2-1-0.2
	c-0.5-0.1-0.9-0.1-1.3,0.2c-0.2,0.1-0.4,0.1-0.6,0c-0.6-0.3-1.2-0.2-1.8-0.2c-0.4,0-0.8,0.2-1,0.5c-0.6,0.7-1.3,1.4-1.8,2.2
	c-2.2,3.2-4.6,6.3-6.8,9.6c-1.3,1.9-2.5,3.8-3.7,5.7c-0.9,1.5-1.9,3-2.8,4.4c-0.3,0.5-0.7,1.1-1,1.6c-1,1.6-2.1,3.3-3.1,4.9
	c-1.5,2.3-2.9,4.7-4.3,7.1c-1.4,2.5-2.7,5.1-4.2,7.6c-0.2,0.3-0.4,0.7-0.7,1c0,0-0.1,0-0.2,0l-0.1-0.1c0-2-0.1-4.1,0.2-6.1
	c0.2-2.1,0.5-4.3,0.8-6.4c0.2-1.6,0.5-3.1,0.8-4.7c0.6-3.7,1.2-7.5,1.9-11.2c0.6-3,1.1-6,1.6-9.1c0.1-1.1,0.4-2.1,0.4-3.2
	c0-0.7,0.3-1.3,0.7-1.9c0.3-0.5,0.7-0.9,0.9-1.4c0.5-1,1.1-1.8,1.8-2.6c0.2-0.3,0.5-0.5,0.7-0.7c0.5-0.4,0.8-1,0.9-1.6
	c0-0.2,0.1-0.4,0.1-0.7c0.1-0.4-0.1-0.8-0.5-1c-0.5-0.3-1-0.5-1.6-0.6c-0.4-0.1-0.8-0.2-1.2-0.3c-0.2-0.1-0.4-0.2-0.5-0.5
	c-0.1-0.4-0.2-0.9-0.4-1.3c-0.1-0.2-0.3-0.4-0.5-0.4c-1,0-1.9-0.2-2.9,0.1c-1.2,0.3-2.4,0.3-3.5,0.2c-1.5-0.2-3.1,0-4.6,0.1
	c-0.5,0-0.9,0.4-0.8,0.9c0.1,1,0.1,1.9,0,2.9c-0.2,1.4-0.3,2.8-0.6,4.2c-0.1,0.5-0.3,0.9-0.5,1.2c-1,1.5-1.9,3.1-2.8,4.7
	c-1,1.8-2.1,3.5-3.1,5.3c-1,1.8-2.3,3.5-3.2,5.4c0,0.1-0.1,0.2-0.2,0.3c-0.4,0.7-0.8,1.4-1.2,2c-0.8,1.3-1.5,2.6-2.3,4
	c-1.7,2.8-3.4,5.5-5,8.3c-0.8,1.4-1.7,2.8-2.5,4.3c-0.9,1.9-1.9,3.7-2.8,5.6c-0.2,0.5-0.5,0.9-0.7,1.3c0,0-0.2,0-0.3,0.1
	c0,0-1,1.6-1.6,3.3c-0.5,1.7-0.6,3.5-0.6,4.2c-0.1,1.1,1.1,2.4,1.1,2.4c1.4,0.3,2.8,0.4,4.2,0.8c1,0.3,2,0.3,3,0.4
	c0.4,0,0.9,0,1.4-0.1s0.9-0.4,1.2-0.9c0.1-0.1,0.1-0.2,0.1-0.3c0.8-1.7,1.6-3.4,2.5-5c0.2-0.3,0.3-0.6,0.4-0.9c0.7-1.5,1.3-3,2-4.5
	c0.6-1.3,1.2-2.7,2.1-3.9c0.5-1.3,1.3-2.5,2-3.7c0.3-0.6,0.7-1.1,1.1-1.7c0.1-0.1,0.2-0.2,0.3-0.1c0.1,0.1,0.1,0.2,0.1,0.3
	c0,0.6,0,1.2-0.1,1.9c-0.1,0.7-0.2,1.4-0.8,2c-0.3,0.3-0.3,0.7-0.2,1.1c0,0.1,0,0.1,0.1,0.2c0.4,0.5,0.4,1,0.4,1.6
	c-0.1,2.8-0.3,5.7-0.4,8.5c-0.2,2.5-0.4,5-0.6,7.5c0,0.4,0,0.8-0.1,1.2c-0.2,0.8-0.2,1.7-0.2,2.5c0,0.9-0.1,1.8-0.1,2.7
	c0,0.3,0,0.7,0,1c0,0.5,0.3,0.7,0.7,0.9c0.6,0.3,1.3,0.4,2,0.5s1.5,0.1,2.2,0.1c0.5,0,0.9,0.2,1.2,0.5c0.7,0.9,1.7,1.2,2.8,1.5
	c0.4,0.1,0.9,0.2,1.3,0.3c0.7,0.1,1.3,0.2,2,0.3c0.5,0.1,1.1,0.3,1.6,0.5C685.9,78.1,690,74.6,691.6,71.8z"></path><path mask="url(#mask12A2)" class="letters-white" d="M639,32.3c0.1-0.3,0.2-0.5,0.3-0.8c0.9-1.9,1.8-3.8,2.7-5.7c1.7-3.8,3.6-7.5,5.4-11.2
	c1-1.9,1.9-3.9,2.9-5.8c0.1-0.2,0.2-0.4,0.3-0.6h0.1c0.1,0.3,0,0.7,0,1c-0.5,2.5-1,5-1.5,7.5c-0.6,2.8-1.1,5.6-1.7,8.3
	c-0.4,2.1-0.9,4.2-1.4,6.3c-0.8,2.9-1.2,5.9-1.9,8.8c-0.3,1.3-0.3,2.7-0.6,4c-0.1,0.4-0.2,0.9-0.3,1.3c-0.6,3.3-1.2,6.6-1.8,9.9
	c0,0.2-0.1,0.3-0.1,0.5c-0.3,1-0.5,2-0.6,3c-0.1,0.6-0.3,1.2-0.4,1.8c-0.1,0.5-0.4,0.9-0.9,1.1c-0.3,0.1-0.5,0.2-0.8,0.3
	c-1.2,0.4-2.4,0.8-3.6,1.1c-0.1,0-0.2,0.2-0.2,0.2c0,0.2,0.1,0.3,0.2,0.4c0.1,0.2,0.4,0.3,0.6,0.3c0.9-0.1,1.8,0.2,2.7-0.2
	c0.1-0.1,0.3-0.1,0.5-0.1c0.8,0,1.6,0,2.4,0.1c0.3,0,0.7,0.1,1,0.2c1.3,0.5,2.5,0.5,3.9,0.3c2.1-0.3,4.3-0.6,6.3-1.3
	c0.4-0.1,0.8-0.2,1.2-0.1l1.1-9.9c0-0.2,0-0.5,0-0.7c0.2-1.1,0.4-2.1,0.6-3.2c0.3-1.7,0.5-3.4,0.8-5c0.3-1.9,0.6-3.8,1-5.7
	c0.6-2.7,1.1-5.3,1.9-7.9c0.1-0.3,0.1-0.6,0.2-0.8c0.5-2.4,1-4.9,1.6-7.3c0.3-1.6,0.7-3.1,1-4.7c0.3-1.4,0.5-2.8,0.8-4.2
	c0.8-3.5,1.6-7.1,2.4-10.6c0.7-2.9,1.4-5.9,2.1-8.8c0.3-1.3,0.6-2.5,0.8-3.8c0.3-1.6,0.6-3.1,0.5-4.7c0-0.2,0-0.3-0.1-0.5
	c0-0.1-0.1-0.2-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.1c-1.2-0.1-2.4-0.2-3.6-0.3c-0.8-0.1-1,0.1-1.1,1c0,0.3,0,0.7-0.1,1
	c-0.1,0.4-0.2,0.8-0.3,1.2c-0.1,0.2-0.2,0.2-0.4,0.2c-0.1,0-0.4-0.2-0.3-0.3c0-0.4,0.1-0.8,0.1-1.2c0-0.5,0-1,0-1.5
	c0-0.1-0.1-0.2-0.2-0.2c-0.7-0.2-1.3-0.4-2-0.5c-1-0.1-2-0.4-2.9-0.8c-0.5-0.2-1-0.4-1.5-0.3c-1,0.1-2,0-3-0.2
	c-0.8-0.2-1.7-0.3-2.5-0.4c-0.3,0-0.5,0.1-0.8,0.3c-0.5,0.4-0.8,0.9-1,1.5c-0.2,0.8-0.6,1.6-0.8,2.4c-0.5,1.3-0.9,2.6-1.5,3.8
	c-0.8,1.6-1.6,3.3-2.3,4.9c-0.7,1.7-1.6,3.2-2.4,4.9c-0.3,0.8-0.7,1.6-1,2.3c-0.5,1.2-1.1,2.4-1.7,3.5c-0.5,1-0.9,1.9-1.4,2.9
	c-0.9,1.9-1.9,3.9-2.9,5.8c-0.6,1.2-1.1,2.5-1.7,3.7c-1.5,2.8-2.7,5.9-4.1,8.8c-0.9,1.8-1.7,3.6-2.6,5.3c-0.3,0.7-7.8,13.9-7.8,14
	c-0.1,0.4-0.2,0.8-0.4,1.1c-0.5,1-0.9,1.9-1.4,2.9c-0.8,1.7-1.7,3.5-2.5,5.2c-0.3,0.6-0.6,1.1-1.1,1.4c-0.1,0.1-0.2,0.2-0.4,0.4
	c-0.1,0.1-0.1,0.5,0,0.6c0.4,0.5,1,1,1.6,1.1c1.5,0.3,2.9,0.8,4.5,0.9c1,0.1,1.9,0.3,2.9,0.5c0.6,0.1,1.2,0.2,1.8,0.3
	c0.5,0.1,1,0,1.5-0.3c0.2-0.1,0.4-0.3,0.5-0.5c0.3-1,0.9-2,1.3-2.9c0.7-1.5,1.5-2.9,2.3-4.4c0.9-1.7,1.6-3.4,2.4-5.1
	c0.4-0.9,0.9-1.7,1.6-2.4C632.7,45.4,639,32.5,639,32.3z"></path> <path mask="url(#mask12L2)" class="letters-white" d="M639.1,32.7l-14.8,0.9c-0.7,0-1.4,0.1-2,0.1c-1.4,0.1-2.7,0.1-4.1,0.2c-1.1,0.1-2.1,0.2-3.2,0.2
	c-1.2,0.1-2.4,0.1-3.6,0.3c-0.7,0.1-1.4,0.1-2,0.1c-0.2,0-0.3,0-0.5-0.1c-0.1,0-0.3-0.2-0.3-0.4c0-0.2,0-0.3,0.1-0.5
	c0.6-1.7,0.9-3.4,1.6-5c0.4-0.9,0.7-1.8,1-2.7c0.3-0.8,0.7-1.6,0.9-2.4c0.6-1.8,1.4-3.6,2-5.4c0.7-2,1.5-4.1,2.2-6.1
	c0.3-0.8,0.7-1.6,0.9-2.4c0.6-2,1.4-3.9,2.2-5.9c0.5-1.2,1-2.4,1.4-3.7c0.2-0.7,0.6-1.4,0.8-2.1c0.3-1.2,0.8-2.4,1.2-3.5
	c0.5-1.3,1-2.7,1.4-4c0.3-1,0.6-2.1,0.9-3.1c1.1-2.9,1.8-6,2.4-9c0.2-0.9,0.3-1.9,0.3-2.9c0-0.9-0.1-1.8,0.1-2.7c0-0.2,0-0.3,0-0.5
	c0-0.6-0.4-1.1-1-1.2c-0.3-0.1-0.6-0.1-0.8-0.1c-1.2-0.1-2.4-0.3-3.5-0.3c-0.7,0-1.3-0.2-2-0.3c-1.4-0.1-2.8,0.3-4.2,0.3
	c-0.4,0-0.6,0.2-0.8,0.5c-0.2,0.4-0.4,0.8-0.4,1.3c0.1,0.5,0.1,1-0.1,1.5c-0.2,0.7-0.3,1.4-0.3,2.2c0,0.4-0.1,0.8-0.2,1.2
	c-0.1,0.6-0.2,1.2-0.4,1.8c-0.2,1-0.4,2-0.7,3c-0.4,1.5-0.8,3-1.2,4.4c-0.3,1.2-0.6,2.3-1,3.4c-0.8,1.8-1.4,3.7-2,5.6
	c-0.7,2.4-1.6,4.7-2.6,7c-0.4,0.9-0.8,1.9-1.1,2.9c-0.6,1.9-1.3,3.7-2,5.6c-0.5,1.3-0.9,2.7-1.4,4c-0.5,1.4-0.9,2.8-1.5,4.2
	c-0.6,1.2-1,2.4-1.4,3.6c-0.7,1.7-1.4,3.3-1.9,5.1c-0.9,3.1-2.1,6.1-3.2,9.1c-0.3,0.7-0.7,1.2-1.3,1.4c-0.4,0.2-0.7,0.3-1.1,0.4
	c-0.1,0-0.3,0-0.4-0.1l0,0l0,0c0.1,0.1,0.1,0.1,0.1,0.2h-0.1l-1.7,2.5c-0.1,1.3-0.3,2.4-0.7,3.6c-0.2,0.7-0.3,1.4-0.1,2.2
	c0.2,0.7,0.2,1.4,0.1,2c-0.1,0.9,0.1,1.8-0.1,2.7c0,0.1,0.1,0.2,0.2,0.2c0.2,0,0.4,0,0.7,0c0.6,0,1.1-0.1,1.5-0.7
	c0.5-0.3,1-0.7,1.6-0.9c1.1-0.4,2.2-0.7,3.2-1c2.7-0.7,5.5-1.4,8.3-1.9c1.7-0.3,3.4-0.5,5-0.8c2.4-0.3,4.9-0.5,7.3-0.6
	c0.3,0,0.7,0.1,1,0.1l14.9-0.8c0.8-0.2,1.7-0.3,2.5-0.4c1,0,1.9-0.1,2.9,0.2c0.1,0,0.2,0,0.3,0c0.8,0.1,1.5-0.3,1.8-1
	c0.3-0.7,0.6-1.4,0.8-2.1c0.4-1.5,0.9-3,1.1-4.6c0.1-0.4,0.2-0.9,0.3-1.3c0.3-0.8,0.2-1.6,0-2.3c-0.1-0.4-0.3-0.7-0.7-0.9
	c-0.3-0.1-0.6-0.3-1-0.3c-0.5,0-0.9,0-1.4,0"></path> <path mask="url(#mask12S)" class="letters-white" d="M591.5,38.8c0,0,0-0.1,0-0.2c0,0,0,0-0.1,0c0,0,0,0,0.1,0c0.3-0.4,0.6-0.8,0.7-1.3
	c0.2-0.8,0.1-1.4-0.6-1.9c-0.5-0.3-0.5-0.5-0.2-1c0.5-1,0.9-2.1,1.1-3.2c0.3-1.8,0.3-3.6-0.3-5.4c-0.2-0.5-0.4-1-0.7-1.6
	c-0.2-0.4-0.4-0.8-0.4-1.3c-0.2-1.6-0.6-3.1-0.8-4.7c-0.1-1-0.4-2-0.6-3c-0.1-0.5-0.2-1-0.4-1.5c-0.4-1.3-0.7-2.6-1.1-3.9
	c-0.7-2.2-1.3-4.3-2-6.5c-0.5-1.7-1-3.5-1.5-5.2c-0.2-0.8-0.4-1.5-0.6-2.3c-0.4-1.7-0.9-3.4-1.6-5c-0.5-1.2-0.9-2.5-1-3.8
	s-0.5-2.6-0.7-3.9c-0.1-0.6-0.2-1.1-0.3-1.7c-0.1-1.1-0.3-2.1,0.1-3.2c0-0.1,0-0.2,0-0.3c-0.1-0.9,0.3-1.6,1.1-2.2
	c0.6-0.5,1.2-1,1.9-1.4c0.8-0.5,1.5-0.5,2.2,0c0.2,0.1,0.5,0.3,0.7,0.5c0.8,0.7,1.6,1.4,2.4,2.2c0.7,0.8,1.3,1.6,1.6,2.6
	c0.5,1.1,0.7,2.3,0.6,3.5c-0.1,1-0.3,2-0.8,3c-0.7,1.6-1.2,3.2-1.8,4.8c-0.3,0.8-0.4,1.5-0.2,2.3c0.1,0.6,0.4,1,0.9,1.1
	c0.9,0.2,1.8,0.5,2.8,0.4c1.2-0.1,2.5-0.3,3.7,0c0.1,0,0.2,0,0.3,0c0.9-0.1,1.8-0.1,2.7-0.2c0.5,0,0.8-0.3,1-0.8
	c0.4-1.1,0.8-2.1,1.1-3.2c0.4-1.3,0.9-2.6,1.4-3.8c0.4-1.1,0.8-2.2,1-3.4c0.2-1.1,0.2-2.3,0.1-3.4c-0.1-0.8-0.3-1.7-0.5-2.5
	c-0.4-1.7-1-3.4-1.8-4.9c-0.3-0.7-0.7-1.3-1.2-1.9c-0.8-1-1.6-2-2.5-3c-0.5-0.6-1.2-1-1.8-1.5c-1-0.8-2-1.5-2.9-2.3
	c-0.4-0.4-0.9-0.7-1.5-0.8c-0.5-0.2-1.1-0.4-1.5-0.7c-0.2-0.1-0.5-0.2-0.8-0.3c-0.8-0.3-1.7-0.5-2.6-0.7c-0.5-0.1-1-0.1-1.5,0.1
	c-1.2,0.5-2.6,0.4-3.8,0.8c-1,0-2,0.4-2.9,0.9c-0.5,0.3-1.1,0.5-1.7,0.8c-0.5,0.2-0.9,0.5-1.3,0.8c-1.6,1.3-3.2,2.5-4.5,4.1
	c-0.1,0.2-0.3,0.3-0.5,0.5c-1.2,1-2.1,2.2-2.9,3.5c-0.4,0.7-0.7,1.4-0.7,2.2c0,0.9-0.1,1.7-0.3,2.5c-0.3,1.1-0.2,2.2,0.1,3.3
	c0.4,1.2,0.8,2.2,1.7,3.1c0.2,0.3,0.4,0.6,0.4,0.9s0.1,0.6,0.1,0.8c0.2,1.6,0.4,3.3,0.7,4.9c0.3,1.7,0.7,3.4,1.2,5.1
	c0.6,1.8,1.3,3.5,1.7,5.3c0.5,1.9,1.1,3.7,1.7,5.5c0.2,0.5,0.4,1.1,0.5,1.6c0.6,2.1,1.2,4.3,1.8,6.4c0.1,0.3,0.2,0.5,0.3,0.8
	c0.3,1.1,0.7,2.3,1,3.4c0.2,0.7,0.4,1.4,0.6,2.1c0.3,1.2,0.5,2.4,0.7,3.7c0.1,0.5,0.2,1-0.1,1.5c-0.2,0.5-0.1,0.9,0.1,1.3
	c0.4,0.8,0.5,1.6,0.6,2.5c0,0.4-0.1,0.6-0.4,0.8c-0.6,0.5-0.7,0.8-0.4,1.5c0,0.1,0,0.1,0.1,0.2c0.4,0.6,0.3,1-0.1,1.6
	c-0.2,0.2-0.3,0.5-0.4,0.8c-0.3,0.8-0.8,1.3-1.6,1.7c-0.5,0.2-0.9,0.4-1.4,0.6c-0.9,0.4-1.8,0.6-2.8,0.5c-0.6,0-1.2,0-1.9,0.1
	c-0.3,0-0.7,0-1-0.1c-0.3-0.1-0.5-0.2-0.7-0.4c-0.1-0.2-0.3-0.4-0.4-0.5c-0.7-0.8-1-1.8-0.9-2.8c0-0.7,0.1-1.4,0.2-2
	c0-0.7,0.1-1.4,0.3-2c0.3-0.8,0.4-1.7,0.5-2.5c0.1-0.8,0.2-1.7,0.4-2.5c0-0.2,0.1-0.5,0-0.7c-0.2-0.7-0.2-1.5-0.2-2.2
	c0-0.4-0.3-0.7-0.6-0.7c-1.4-0.1-2.7,0-4.1,0.1c-0.3,0-0.5,0.2-0.8,0.4c-0.2,0.2-0.4,0.1-0.6,0c-0.3-0.2-0.7-0.3-1.1-0.3
	c-1.4,0-2.7,0-4.1,0c-0.4,0-0.7,0.3-0.7,0.8s-0.1,1-0.3,1.5c-0.1,0.2-0.2,0.5-0.2,0.8c-0.1,0.5-0.2,1-0.3,1.5
	c-0.1,0.9-0.3,1.8-0.4,2.7c-0.1,0.7-0.2,1.5-0.3,2.2c-0.3,1.8-0.5,3.6-0.2,5.4c0.1,0.5,0.1,1,0.2,1.5c0.3,1.2,0.7,2.4,1,3.6
	c0.2,0.7,0.5,1.2,1,1.8c0.9,0.9,1.9,1.8,2.6,2.9c0.2,0.3,0.5,0.7,0.7,1c0.8,0.9,1.6,1.7,2.8,2.1c0.4,0.2,0.8,0.4,1.2,0.6
	c0.2,0.1,0.4,0.2,0.6,0.2c1.2,0.2,2.5,0.4,3.7,0.6c1.6,0.2,3.3,0,4.9-0.1c1.1-0.1,2.1-0.3,3.2-0.5c0.7-0.1,1.4-0.3,2.1-0.6
	c0.9-0.5,1.7-1.1,2.7-1.3c1-0.6,2.1-1,3.2-1.7c1.3-0.8,2.4-1.7,3.3-2.9c0.5-0.6,0.9-1.3,1.4-1.9c0.1-0.1,0.3-0.1,0.4-0.2
	L591.5,38.8z"></path> <path mask="url(#mask12N2)" class="letters-white" d="M554.4,27.7c-0.1,0.7-0.3,1.4-0.4,2.2c-0.1,0.5-0.4,0.8-0.9,1c-0.1,0-0.1,0-0.2,0
	c-1.4,0.4-2.6,1-4,1.5c-1.7,0.6-3.4,1.2-5.1,1.8c-0.1,0-0.2,0.1-0.3,0.1c-0.5,0.1-1.1-0.1-1.3-0.6c-0.1-0.3-0.2-0.5-0.3-0.8
	c-0.4-1.5-1-2.9-1.4-4.4c-0.9-2.7-2-5.3-2.8-8c-0.4-1.2-0.7-2.4-1-3.6c-0.8-3.1-1.7-6.1-2.5-9.2c-0.5-2-1-4.1-1.8-6l-0.1-0.1
	c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c-0.1,2-0.2,4-0.4,5.9c-0.1,1-0.1,1.9-0.2,2.9c-0.2,3.3-0.4,6.7-0.5,10
	c0,2.1-0.2,4.2-0.2,6.3c0,0.6,0,1.1,0,1.7c0,0.2,0,0.5,0,0.7c0,0.4-0.2,0.7-0.5,0.8c-0.6,0.3-1.1,0.5-1.7,0.7
	c-0.7,0.1-1.3,0.4-2,0.6c-1.4,0.4-2.7,0.8-4.1,0.9c-0.3,0-0.7,0.1-1,0.2c-0.6,0.2-1.1,0.2-1.7,0.2c-0.8,0-1.4-0.7-1.3-1.5
	c0.4-3,0.5-6.1,0.6-9.2c0.1-1.9,0.1-3.7,0.2-5.6c0-0.6,0.1-1.1,0.1-1.7c0-1.5,0.1-3.1,0.3-4.6c0-0.3,0.1-0.6,0.1-0.8
	c0.2-3.1,0.3-6.2,0.5-9.3c0.1-1.9,0.3-3.8,0.5-5.8c0.2-2.1,0.4-4.3,0.7-6.4c0.1-0.8,0.2-1.6,0.3-2.4c0.1-1,0.2-1.9,0.3-2.9
	c0.1-1.2,0.3-2.5,0.4-3.7c0.2-2,0.4-4,0.6-5.9c0-0.3,0-0.6,0.1-0.8c0-0.4,0-0.8-0.2-1.2c-0.4-0.8-0.9-1.6-1.3-2.4
	c-0.1-0.2-0.3-0.5-0.4-0.7c-0.1-0.3,0-0.7,0.3-0.9c0.6-0.4,1.1-0.7,1.7-1.1c0.4-0.2,0.6-0.5,0.7-0.9c0.1-0.3,0.3-0.7,0.3-1
	c0-0.5,0.2-0.9,0.3-1.3c0.2-0.7,0.6-0.9,1.2-1.1c0.9-0.2,1.9-0.4,2.8-0.6c0.3-0.1,0.7,0.2,0.8,0.5c0,0.2,0,0.4,0,0.7
	c0,0.2,0.2,0.4,0.4,0.5c0.3,0,0.6-0.1,0.7-0.3c0.1-0.2,0.2-0.4,0.2-0.6s0-0.5,0-0.7s0.2-0.4,0.4-0.5c0,0,0.1-0.1,0.2-0.1
	c1.2-0.1,2.4-0.6,3.6-0.9c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0.1,0.2,0.2c0.1,0.9,0.3,1.9,0.4,2.9c0.1,2,0.2,4-0.1,5.9
	c-0.1,0.7-0.1,1.5,0.1,2.2c0.3,1.2,0.6,2.4,1,3.6c0.3,1.1,0.7,2.3,1,3.4c0.5,1.8,1.1,3.6,1.8,5.3c0.3,0.7,0.5,1.4,0.7,2.1
	c0.9,3.1,1.8,6.1,2.8,9.1c0.1,0.4,0.3,0.9,0.4,1.3c0.5,1.7,1,3.5,1.5,5.2c0.4,1.4,0.8,2.8,1.2,4.2c0.1,0.2,0.1,0.4,0.4,0.5
	c0.2-0.3,0.3-0.6,0.3-0.9c0.3-1.8,0.5-3.6,0.8-5.4c0.1-0.9,0.3-1.8,0.4-2.7c0.3-2.3,0.5-4.5,0.6-6.8c0.2-2.2,0.4-4.4,0.6-6.6
	c0.1-2.3,0.5-4.5,0.7-6.8c0.2-2.2,0.3-4.4,0.5-6.6c0.1-1.4,0.1-2.7,0.2-4.1c0-0.5,0.1-1,0.2-1.5c0.3-1.3,0.5-2.7,0.6-4
	c0.1-0.6,0.3-0.8,0.8-0.9c1.1-0.2,2.2-0.6,3.3-0.9c0.5-0.2,1.1-0.4,1.6-0.4c0.2,0,0.4-0.1,0.5-0.2c0.3-0.3,0.7-0.4,1.1-0.5
	c0.8-0.2,1.5-0.5,2.3-0.7c0.5-0.1,1-0.2,1.5-0.3c0.6-0.1,1,0.3,1.1,1c0,0.3,0,0.6-0.1,0.8c-0.6,2.1-0.7,4.2-1.1,6.4
	c0,0.2,0,0.3,0,0.5c0,1.4-0.2,2.8-0.3,4.2c-0.1,2.3-0.4,4.6-0.7,6.9c-0.2,1.4-0.2,2.8-0.4,4.2c-0.2,2.8-0.5,5.5-0.7,8.3
	c-0.2,1.8-0.4,3.5-0.6,5.2c-0.2,2.1-0.5,4.2-0.9,6.2c-0.4,2.5-0.7,4.9-1.1,7.4c-0.1,0.4-0.1,0.9-0.2,1.4c-0.4,3.4-0.7,6.9-1.2,10.3
	c-0.1,0.7-0.3,1.4-0.5,2.2c-0.2,0.9-0.5,1.9-0.8,2.8C554.7,25.4,554.5,26.5,554.4,27.7z"></path> <path mask="url(#mask12N)" class="letters-white" d="M517.2-43.8c0,0.3,0,0.6,0,0.8c-0.4,2.2-0.2,4.5-0.4,6.8c-0.2,2.8-0.3,5.7-0.5,8.5
	c-0.1,1.4-0.2,2.8-0.2,4.2c0,1.9-0.1,3.9-0.2,5.8c0,1.8-0.1,3.6-0.1,5.4c-0.1,1.8-0.2,3.5-0.2,5.3c0,1.5-0.1,3-0.1,4.4
	c0,1.8,0,3.5-0.2,5.3c-0.1,1-0.1,1.9-0.1,2.9c0,1.8-0.2,3.5-0.3,5.3c0,0.7-0.1,1.4-0.1,2c0,0.3,0,0.6,0,0.9
	c-0.3,2.1-0.2,4.2-0.3,6.3c-0.1,1.3-0.3,2.6-0.5,3.9c-0.3,1.5-0.5,2.9-0.7,4.4c-0.1,1-0.3,1.9-0.5,2.8c-0.1,0.2-0.2,0.4-0.4,0.5
	c-0.3,0.1-0.6,0.3-0.9,0.4c-1.9,0.6-3.8,1.2-5.7,1.8c-0.2,0.1-0.4,0.1-0.6,0.2c-1,0.5-2.2,0.6-3.2,1c-0.3,0.1-0.7-0.1-0.8-0.4
	c-0.1-0.2-0.2-0.4-0.2-0.6c-0.3-0.8-0.5-1.6-0.7-2.4c-0.8-2.6-1.9-5.1-2.8-7.7c-0.4-1.2-0.8-2.4-1.2-3.6c-1.1-3.4-2-6.9-2.8-10.3
	c-0.7-2.7-1.5-5.4-2.2-8c-0.5-2-1.2-4-1.9-6c0-0.1-0.1-0.2-0.2-0.2c-0.1-0.1-0.3,0.1-0.3,0.3s0,0.5,0,0.7c0,0.9,0,1.7,0,2.6
	c0,1.6-0.1,3.3-0.3,4.9c0,0.4-0.1,0.8-0.1,1.2c0,2.3,0,4.5-0.1,6.8c0,1.7,0,3.4,0.1,5.1c0.1,1.2,0,2.5,0,3.7c0,2.7-0.1,5.4-0.1,8.2
	c0,0.8-0.4,1.2-1.1,1.5c-1.1,0.3-2.2,0.7-3.2,1c-0.3,0.1-0.5,0.2-0.8,0.2c-1.6,0.3-3.1,0.6-4.7,1c-0.4,0.1-0.9,0.2-1.3,0.2
	c-0.5,0-1-0.4-1-0.9s0-1,0-1.5c0-2.2,0.1-4.3,0.1-6.5c0-0.8,0-1.7,0-2.5c-0.1-2.4-0.1-4.8-0.1-7.1c0-1.7,0-3.4,0-5.1
	c0-0.7,0-1.4,0.1-2c0.2-2.2,0.3-4.4,0.4-6.6c0.1-2.4,0.3-4.8,0.4-7.1c0.1-1.9,0.2-3.9,0.2-5.8c0-2.3,0-4.5,0.2-6.8
	c0.1-1.6,0.2-3.2,0-4.8c0-0.2,0-0.5,0-0.7c0.1-0.8,0.1-1.6,0.2-2.4c0.1-2.8,0.2-5.7,0.4-8.5c0.1-1,0.2-1.9,0.3-2.9
	c0.1-0.5,0-1-0.3-1.5c-0.1-0.1-0.2-0.3-0.3-0.4c-0.2-0.3-0.2-0.5,0.1-0.7c0.3-0.2,0.5-0.5,0.4-0.9c-0.1-0.6-0.2-1.1-0.2-1.7
	c0-0.2,0.1-0.5,0.3-0.5c1.5-0.4,2.9-1,4.4-1.3c0.3-0.1,0.6,0.2,0.7,0.6c0.1,0.4,0,0.8,0.2,1.1c0.1,0.1,0.2,0.2,0.3,0.2
	s0.3-0.1,0.4-0.3c0.1-0.1,0.1-0.3,0.1-0.5c0-0.3-0.1-0.6-0.1-0.8c0-0.3,0.2-0.6,0.4-0.7c0.1,0,0.1-0.1,0.2-0.1
	c1.1-0.3,2.3-0.7,3.4-1c0.1,0,0.2,0,0.3-0.1c0.4-0.1,0.7,0.1,0.8,0.5c0.2,0.7,0.3,1.4,0.4,2.2c0.1,0.4,0.1,0.8,0.1,1.2
	c0.1,0.9,0.1,1.8,0.8,2.6c0.7,1.6,1.3,3.1,1.9,4.7c0.6,1.8,1.1,3.6,1.6,5.4c0.5,1.7,1,3.4,1.5,5.1c0.6,1.8,1.1,3.7,1.7,5.5
	c0.5,1.6,1,3.2,1.6,4.8c1.3,4,2.6,8,3.8,12c0.2,0.7,0.3,1.5,0.6,2.1c0.1,0.1,0.1,0.2,0.3,0.1l0.1-0.1c0-0.1,0-0.1,0-0.2
	c0.1-3.5,0.3-6.9,0.4-10.4c0-1,0-2,0-3.1l0,0c0.1-3.7,0.2-7.5,0.3-11.2c0-0.7,0.1-1.4,0.1-2c0.1-1.2,0.1-2.5,0.2-3.7
	c0-1,0-1.9,0.1-2.9c0.1-0.4,0-0.9,0-1.4c-0.1-1.5-0.1-3.1,0-4.6c0-0.5,0.1-0.9,0.2-1.4c0-0.2,0.2-0.4,0.5-0.5
	c0.2,0,0.3-0.1,0.5-0.1c0.3-0.1,0.7-0.1,1-0.3c0.9-0.4,1.8-0.6,2.8-0.7c0.6-0.1,1.2-0.2,1.8-0.5c0.4-0.2,0.7-0.3,1.1-0.4
	c0.5-0.1,1.1-0.2,1.6-0.5c0.7-0.3,1.5-0.3,2.3-0.3C516.8-44.6,517.2-44.2,517.2-43.8z"></path> <path mask="url(#mask12A)" class="letters-white" d="M472.8,31.5c-0.8-3.4-1.8-6.8-2.4-10.3c-0.4-2.2-0.8-4.3-1.2-6.5c-0.6-3.4-1.1-6.7-1.7-10.1
	c-0.1-0.8-0.3-1.6-0.3-2.4c-0.3-2.7-0.8-5.3-1.2-7.9c-0.6-3.6-1.5-7.1-2.1-10.7c-0.3-1.8-0.7-3.6-1-5.4c-0.1-0.9-0.2-1.8-0.3-2.7
	c-0.2-1.7-0.4-3.4-0.6-5.1c-0.3-2.2-0.5-4.4-0.9-6.6c-0.3-1.7-0.6-3.4-1-5c0-0.2-0.1-0.3-0.1-0.5c0-0.8-0.2-1.4-0.5-2.1
	c-0.1-0.4-0.3-0.7-0.3-1.1c0-0.2-0.1-0.3-0.1-0.5c0,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.1c0,0.4,0.3,0.8,0.1,1.3
	c0,0.1-0.2,0.3-0.4,0.2c-0.2-0.1-0.3-0.2-0.5-0.2c-0.3-0.1-0.4-0.3-0.5-0.6c0-0.3-0.3-0.4-0.5-0.4c-0.8,0.3-1.5,0.4-2.3,0.4
	c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.4-0.4,0.5c0.2,0.7,0.2,1.5,0.2,2.2c0,0.3,0,0.7,0.1,1c0.3,0.9,0.2,1.8,0.2,2.7
	c0,0.1-0.1,0.2-0.2,0.2c-0.1,0-0.2,0-0.3-0.1c-0.2-0.5-0.4-0.9-0.4-1.5c-0.1-0.8-0.2-1.6-0.2-2.4s-0.2-1.6-0.2-2.3
	c0-0.9-0.6-1.2-1.4-1.1c-0.2,0-0.3,0-0.5,0.1c-0.4,0.1-0.9,0.2-1.3,0.3c-1.2,0.2-2.3,0.4-3.5,0.6c-1.2,0.1-2.3,0.5-3.5,0.7
	c-1.7,0.4-1.7,0.4-2,2.2c0,0.1,0,0.2,0,0.3c0.1,1.4-0.4,2.8-0.3,4.2c-0.3,1.8-0.3,3.6-0.5,5.4c-0.2,2-0.2,4.1-0.5,6.1
	c-0.1,2.9-0.5,5.8-0.9,8.6c-0.4,2.6-0.6,5.3-0.8,8c-0.3,3.1-0.5,6.2-0.8,9.3c0,0.2-0.1,0.5-0.1,0.7c-0.3,2.3-0.7,4.6-1,6.9
	c-0.1,0.4-0.2,0.9-0.2,1.3c-0.2,2.3-0.6,4.6-0.7,6.9c0,0.8-0.2,1.6-0.3,2.4c0,0.3-0.2,0.5-0.5,0.7c-0.6,0.3-0.7,0.7-0.6,1.3
	c0.2,0.6,0.4,1.2,0.4,1.8c0,0.3,0,0.7,0.1,1c0.3,1.1,0.2,2.2,0.1,3.2c-0.1,1-0.2,2-0.3,3c0,0.1,0,0.1,0,0.2c0,0.2-0.3,0.4-0.3,0.5
	c-0.1,0.2,0.7,4.7,1.1,4.8c0.2,0.1,0.2,0.1,0.5,0c0.3-0.1,0.5-0.3,0.8-0.4c1.3-0.4,2.7-0.5,3.9-1c0,0,0.1,0,0.2,0
	c1.6-0.1,3.1-0.8,4.6-1.2c0.4-0.1,0.7-0.3,0.9-0.7c0.2-1,0-2,0.3-3c1.8-0.8,3.7-1.4,5.6-1.9c0.7-0.2,1.3-0.3,2-0.5
	c1.4-0.4,2.8-0.6,4.2-0.9c0.1,0,0.2,0,0.3,0c0.2,0,0.3,0.1,0.4,0.3c0.1,0.2,0.2,0.3,0.2,0.5c0.5,2.1,0.9,4.2,1.4,6.3
	c0.1,0.7,0.3,1.3,0.4,2c0.3,1.3,0.7,2.5,0.8,3.8c0.1,1.1,0.8,1.1,1.4,0.9c0.1,0,0.2-0.1,0.3-0.1c0.5-0.3,1-0.5,1.6-0.4
	c1.7-0.4,3.4-0.6,4.8-1.6c0.2-0.1,0.4-0.2,0.6-0.2c0.8-0.1,1.5-0.5,2.3-0.5c0.5,0,0.9-0.6,0.8-1.1
	C473.5,34.4,473.1,32.9,472.8,31.5z M456.4,14c-0.3,0.1-0.7,0.2-1,0.3c-1.1,0.2-2.2,0.5-3.3,0.7c-1.4,0.4-2.8,0.6-4.1,0.9
	c-0.3,0.1-0.5-0.1-0.5-0.5c0-1,0-1.9,0.2-2.9c0.2-1.2,0.3-2.4,0.4-3.5c0.2-1.4,0.4-2.8,0.5-4.2c0.4-2.8,0.8-5.6,1.1-8.4
	c0.2-1.5,0.2-2.9,0.3-4.4c0.1-1.9,0.3-3.7,0.4-5.6c0.1-1.3,0.3-2.6,0.5-3.9c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0.1,0.2,0.2
	c0.1,0.3,0.2,0.5,0.2,0.8c0.2,0.9,0.4,1.9,0.6,2.8c0.6,3.2,1.3,6.5,1.9,9.7c0.2,0.9,0.3,1.8,0.5,2.7c0.5,3.1,1.1,6.3,1.4,9.4
	c0,0.3,0.1,0.6,0.1,0.8c0.1,0.5,0.1,1-0.2,1.5c-0.2,0.2-0.2,0.6,0,0.8c0.6,0.6,0.8,1.2,0.8,2c0,0.2,0.1,0.4,0.1,0.7
	C456.6,13.7,456.5,13.9,456.4,14z"></path> <path mask="url(#mask12M)" class="letters-white" d="M433.9,30.1c-0.1-0.1-0.2-0.1-0.2-0.2c-0.3-0.7-0.4-1.5-0.5-2.3c-0.5-2.3-1.1-4.6-1.6-7
	c-0.4-1.8-0.7-3.7-1.1-5.5c-0.4-2.1-0.7-4.2-1-6.4c-0.1-1.1-0.3-2.1-0.5-3.2c-0.2-1.6-0.5-3.2-0.7-4.9c-0.2-2.5-0.6-4.9-1-7.4
	c-0.4-2.8-0.7-5.5-0.9-8.3c-0.1-1.6-0.3-3.3-0.5-4.9c-0.2-1.7-0.4-3.5-0.6-5.2c0-0.3-0.1-0.7-0.1-1c-0.5-2.6-0.7-5.2-1.2-7.7
	c-0.4-2.3-0.6-4.6-1-6.9c-0.1-0.3,0-0.6,0-0.8c-0.7-0.3-0.7-0.3-1-0.3c-0.7,0.1-1.4,0.3-2,0.6c-1.1,0.6-2.3,0.9-3.4,1.5
	c-0.2,0.1-0.5,0.2-0.8,0.3c-0.8,0.2-1.6,0.3-2.3,0.4c-0.8,0.2-1.7,0.4-2.5,0.5c-0.2,0-0.4,0.3-0.4,0.5c0.1,1.4-0.1,2.7-0.3,4.1
	c-0.4,2.1-0.6,4.2-0.9,6.2c-0.2,1.7-0.2,3.4-0.6,5.1c-0.2,0.9-0.3,1.8-0.4,2.7c-0.3,2.2-0.6,4.5-0.9,6.7c-0.5,3.4-1,6.8-1.6,10.3
	c-0.3,1.7-0.6,3.5-1,5.2c-0.2,0.9-0.5,1.8-0.7,2.8c0,0.3-0.2,0.5-0.4,0.7c-0.3-0.2-0.3-0.6-0.4-0.9c-0.4-1.8-0.8-3.7-1.2-5.5
	c-0.2-0.9-0.4-1.9-0.6-2.8c-0.3-1.7-0.6-3.5-1-5.2c-0.3-1.4-0.6-2.8-0.8-4.2c-0.2-0.9-0.3-1.8-0.5-2.7c-0.6-2.5-1.2-5.1-1.8-7.6
	c-0.4-1.8-0.8-3.7-1.2-5.5c-0.2-0.8-0.2-1.6-0.1-2.4c0.1-0.4,0.1-0.9,0.1-1.4s-0.1-1,0-1.5c0.1-0.4-0.1-0.7-0.3-1
	c-0.1-0.2-0.3-0.3-0.5-0.4c-1,0-2,0-3,0.3c-1.1,0.3-2.2,0.7-3.3,0.8c-0.2,0-0.3,0.1-0.5,0.2c-0.3,0.2-0.6,0.3-1,0.3
	c-0.4,0.1-0.8,0.2-1.1,0.4c-0.4,0.1-0.7,0.3-1.1,0.4c-0.4,0.1-0.7,0.2-1.1,0.4c-0.1,0-0.1,0.1-0.2,0.1c-0.3,0.6-0.4,1.3-0.9,1.8
	c-0.3,0.2-0.3,0.6-0.2,1c0,0.2,0.1,0.4,0.2,0.7c0.3,0.6,0.3,1.2,0.1,1.8c-0.1,0.6-0.1,1.1-0.1,1.7c0,1.4-0.1,2.8-0.1,4.3
	c0,0.8-0.2,1.7-0.3,2.5c-0.1,1.2-0.1,2.4-0.3,3.6c-0.1,0.4-0.1,0.8-0.1,1.2c0,0.7,0,1.5-0.1,2.2c0,0.2,0,0.5,0,0.7
	c0,1.4,0,2.8,0,4.3s0,2.9-0.1,4.4c-0.1,1.1-0.1,2.3-0.1,3.4c0,2.7,0,5.3-0.1,8c-0.1,2.3-0.2,4.5-0.3,6.8c0,0.8-0.1,1.6-0.2,2.4
	c-0.1,0.9-0.1,1.8-0.1,2.7c0,1.9-0.1,3.7-0.2,5.6l-0.4,5.4c0,0.6-0.1,1.1-0.1,1.7c-0.2,2.2,0,4.4-0.4,6.6c-0.1,1.7-0.4,3.4-0.4,5.1
	c0,1.2,0,2.5-0.6,3.7c0,0.1,0,0.2-0.1,0.3c0,0.7,0.3,1.4,1.1,1.5c0.3,0.1,0.7,0.1,1,0c0.8-0.2,1.6-0.4,2.5-0.6
	c0.7-0.2,1.4-0.2,2-0.5c1.2-0.5,2.4-0.8,3.6-1.1c0.4-0.1,0.9-0.3,1.3-0.5c0.6-0.3,0.8-0.7,0.9-1.4c0-0.9,0.1-1.8,0.3-2.7
	c0.1-0.3,0-0.6,0.1-0.8c0.1-1.7,0.3-3.4,0.4-5.1c0.1-0.8,0.2-1.6,0.2-2.4c0-0.6,0-1.1,0.1-1.7c0.1-1,0.2-2,0.2-3.1
	c0-0.5,0-0.9,0.1-1.4c0.2-1.4,0.2-2.7,0.3-4.1c0.1-2.3,0.2-4.5,0.3-6.8c0-0.2,0.1-0.3,0.1-0.5l0.1-0.1c0.1,0,0.1,0,0.1,0.1
	c0.1,0.5,0.3,1,0.4,1.5c0.9,2.9,1.8,5.9,2.7,8.8c0.1,0.3,0.2,0.5,0.3,0.8c0.1,0.4,0.2,0.9,0.1,1.3c-0.2,0.9-0.3,1.8-0.5,2.7
	c0,0.2-0.2,0.4-0.2,0.6c-0.2,1.5-0.6,3-0.9,4.5c-0.1,0.3-0.1,0.7-0.2,1c-0.1,0.8,0.7,1.5,1.4,1.3c0.3-0.1,0.6-0.1,0.8-0.2
	c0.8-0.3,1.6-0.2,2.4-0.3c0.3,0,0.7,0.2,0.8,0.5c0.1,0.2,0.1,0.4,0.2,0.6c0.2,0.6,0.4,1.3,0.6,1.9c0.1,0.2,0.1,0.3,0.2,0.5
	c0.2,0.5,0.8,0.7,1.3,0.6c0.9-0.3,1.8-0.8,2.5-1.3c0.6-0.4,1.1-0.8,1.8-0.9c0.3,0,0.5-0.2,0.7-0.4c0.2-0.1,0.4-0.2,0.6-0.3
	c0.7-0.1,1.4-0.3,2.2-0.4c1-0.1,1.7-0.7,2.3-1.3c0.1-0.1,0.2-0.4,0.2-0.6c0-0.2-0.1-0.3-0.1-0.5c-0.3-0.6-0.6-1.1-0.8-1.7
	c-0.3-0.7-0.5-1.5-0.7-2.3c-0.5-2-1.2-4-1.9-6c-0.6-1.9-0.6-1.9-0.2-3.8c1.1-4.8,2.5-9.5,3.8-14.3c0.4-1.3,0.7-2.6,1-3.9
	c0.3-1.3,0.6-2.5,1-3.8c0.1-0.2,0.2-0.4,0.3-0.6c0-0.1,0.2-0.1,0.3-0.1c0.1,0.3,0.1,0.6,0.2,0.8c0.1,0.8,0.2,1.6,0.3,2.4
	c0.2,1.2,0.4,2.5,0.5,3.7c0.1,1.1,0.2,2.1,0.4,3.2c0.2,1.3,0.4,2.6,0.6,3.9c0.4,2.5,0.8,4.9,1.3,7.4c0.6,2.8,1.3,5.5,1.9,8.3
	c0.5,2.3,1,4.7,1.5,7c0.1,0.6,0.3,1.2,0.4,1.8c0.1,0.5,0.6,0.9,1.1,0.8c0.5,0,1-0.2,1.5-0.4c0.5-0.3,1-0.5,1.4-0.9
	c0.5-0.5,1.2-0.7,1.8-0.9c0.7-0.2,1.3-0.4,2-0.5c0.4-0.1,0.8-0.1,1.1-0.4c0.3-0.2,0.7-0.4,1.1-0.5c0.3-0.1,0.5-0.2,0.8-0.3
	c0.4-0.2,0.6-0.5,0.7-0.9c0.1-0.3,0.1-0.7,0.1-1C435.2,34.2,433.9,30.1,433.9,30.1z"></path> <path mask="url(#mask12E)" class="letters-white" d="M380.9,26.6c-0.4-0.6-0.8-1.2-1-1.9c-0.1-0.4-0.1-0.9-0.2-1.3c-0.2-0.5-0.5-0.9-0.6-1.4
	c-0.2-0.8-0.6-1.5-1-2.2c-0.2-0.3-0.4-0.5-0.7-0.8c-0.3-0.2-0.7-0.2-0.9,0c-0.2,0.2-0.4,0.4-0.5,0.7c-0.5,0.8-1.2,1.3-2,1.8
	c-1,0.5-2,1-3,1.5c-1.7,0.8-3.3,1.7-5,2.5c-1.4,0.7-2.9,1.4-4.3,2c-1.5,0.7-3,1.2-4.6,1.8c-1.4,0.6-2.9,0.9-4.4,1.3
	c-0.9,0.3-1.9,0.5-2.8,0.6c-0.3,0.1-0.6-0.1-0.7-0.3c-0.2-0.5-0.4-0.9-0.6-1.4c-0.4-1.3-0.8-2.6-1.2-3.9c-0.2-0.8-0.4-1.6-0.7-2.5
	c-0.1-0.4,0-0.7,0.4-0.9c0.6-0.3,1.2-0.7,1.8-1c0.8-0.4,1.6-0.6,2.4-1c3.4-1.5,6.8-2.8,10.3-4c3.3-1.1,6.8-2,10.2-2.5
	c0.8-0.1,1.6-0.2,2.4,0c0.8,0.2,1.2,0,1.5-0.8c0.2-0.5,0.3-1.1,0.1-1.7c-0.1-0.6-0.2-1.1-0.4-1.6c-0.2-0.5-0.4-1.1-0.6-1.6
	c-0.4-0.9-0.7-1.8-0.7-2.8c0-0.8-0.3-1.5-0.6-2.3c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.4-0.9-0.7-1.4-1c-0.2-0.1-0.5-0.1-0.6,0.1
	c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.3-0.3,0.5-0.6,0.5c-0.4,0.1-0.8,0.2-1.2,0.2c-3.6,0.6-7.2,1.6-10.7,2.8
	c-3.9,1.3-7.8,2.7-11.7,4.3c-0.6,0.2-1.2,0.4-1.8,0.6c-0.5,0.2-0.8,0-1-0.6c-0.1-0.3-0.1-0.6-0.1-0.8c-0.2-1.5-0.4-2.9-0.5-4.4
	c-0.1-0.7-0.1-1.5-0.2-2.2c0-1,0-1.9-0.1-2.9c-0.1-0.9-0.1-1.8,0-2.7c0.3-0.5,0.7-0.7,1.1-0.9c2.7-1.3,5.5-2.5,8.3-3.5
	c2.3-0.8,4.5-1.6,6.7-2.3c1.6-0.5,3.1-1,4.7-1.5c2.7-0.8,5.3-1.5,8-2.3c0.9-0.2,1.8-0.5,2.6-0.6c0.8-0.2,0.9,0,1.2,0.6
	c0.1,0.3,0.3,0.5,0.4,0.7c0.1,0.2,0.4,0.3,0.6,0.2c0.7-0.2,1.1-0.5,1.2-1.2c0-0.2,0.2-0.5,0.1-0.7c-0.2-0.6,0-1.1-0.1-1.7
	c-0.1-1.2-0.3-2.4-1-3.4c-0.3-0.4-0.4-0.8-0.4-1.3c0-0.6-0.1-1.1,0-1.7c0.2-1.2-0.1-2.3-0.7-3.3c-0.4-0.6-1.1-1.2-2-0.8
	c-0.7,0.2-1.4,0.5-2.1,0.7c-5.5,1.4-10.9,3-16.3,4.7c-3.5,1.1-7,2.4-10.4,3.7c-0.9,0.4-1.9,0.7-2.8,0.9c-0.7-0.2-1.4-0.5-2-0.7
	c-0.4-0.2-0.9-0.3-1.3-0.5c-0.4-0.2-0.8-0.3-1.3-0.4c-0.4,0-0.8-0.1-1.2-0.2c-1-0.2-2-0.2-3.1-0.2c-0.5,0-0.9,0.1-1.3,0.3
	c-0.4,0.2-0.7,0.4-0.7,0.8c-0.3,1.7-0.6,3.3-0.7,5.1c0,0.3-0.1,0.6-0.1,0.8c-1,0.4-1.9,0.7-3,0.9c-0.7,0.1-1.5,0.2-2.2-0.2
	c0,0-0.1,0-0.2-0.1c-0.4-0.1-0.9,0.4-0.9,0.8c0,0.2,0,0.5,0.1,0.7c0.4,1.2,0.7,2.4,1,3.6c0.1,0.3,0.3,0.5,0.6,0.5
	c0.1,0,0.2,0.1,0.3,0.2c-0.3,1-0.3,1,0,1.9c0.3,0.7,0.5,1.5,0.7,2.3c0.2,0.5,0.3,1.1,0.5,1.6c0.3,0.3,0.7,0.3,1,0.3
	c0.6,0,1.2,0,1.9,0c0.2,0,0.3,0.1,0.4,0.3c0,0.1,0.1,0.2,0.1,0.3c0.2,2.6,0.6,5.2,1,7.8c0.2,1.4,0.6,2.8,0.9,4.2
	c0.2,0.9,0.2,1-0.6,1.6c-0.5,0.4-1.1,0.6-1.7,0.7c-0.3,0.1-0.6,0.1-0.8,0.2c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.3,0,0.7,0.1,1
	c0.3,0.9,0.6,1.8,0.8,2.8c0.3,1.1,0.7,2.3,1.3,3.3c0.2,0.3,0.3,0.7,0.5,1.1c0.3,0.8,0.7,1.6,1,2.4c0.2,0.4,0.5,0.6,0.9,0.6
	c0.8,0,1.6-0.1,2.4-0.2c0.4-0.1,0.8-0.2,1.2-0.2c0.4,0,0.6,0.1,0.8,0.5c1.2,2,2.2,4.2,3.6,6.1c0,0,0,0.1,0.1,0.2
	c0.1,0.3,0,0.6-0.2,0.7c-0.8,0.2-1.5,0.4-2.3,0.5c-0.7,0.2-1.3,0.2-2,0c-0.6-0.2-1.2,0.1-1.7,0.5c-0.2,0.1-0.3,0.4-0.3,0.6
	c0,0.7,0.2,1.5,0.6,2.1c0.5,0.8,0.8,1.7,1.2,2.6c0.2,0.5,0.4,1.1,0.7,1.6c0.5,1,1.1,2,1.4,3.1c0.1,0.3,0.3,0.6,0.5,0.9
	c0.2,0.3,0.5,0.5,0.8,0.5c1.1,0.2,2.3,0,3.4-0.3c1.6-0.4,3.2-0.8,4.7-1.4c1-0.3,1.9-0.7,3-0.5c0.4,0.1,0.8,0,1.2,0
	c0.6,0,1.2,0,1.9,0.1s1-0.4,0.8-0.9c0-0.1,0-0.1-0.1-0.2c-0.1-0.3,0-0.6,0.3-0.7c1-0.3,2-0.6,2.9-0.9c2.1-0.6,4.2-1.4,6.2-2.2
	c2-0.9,4-1.8,6-2.9c0.8-0.4,1.6-0.8,2.4-1.2c1.7-0.8,3.5-1.7,5.2-2.5c0.5-0.2,1-0.5,1.6-0.6c0.4-0.1,2.1-0.6,2.2-1
	c0.4-0.8-0.2-4.5-0.2-4.5C381.1,26.6,381,26.6,380.9,26.6z M330-5.9l-0.1,0.2c-0.7,0.3-1.4,0.4-2.1,0.4c-0.2,0-0.4-0.1-0.5-0.4
	l0.1-0.1c0.7-0.1,1.3-0.3,2-0.4c0.1,0,0.2,0,0.3,0C329.9-6.2,330.1-6.1,330-5.9z"></path> <path mask="url(#mask12I)" class="letters-white" d="M308.6-10.8c-0.2-0.5-0.1-1,0.1-1.5c0.1-0.3,0.3-0.5,0.5-0.6c0.2-0.1,0.3-0.1,0.5-0.2
	c1.2-0.4,2.3-0.9,3.3-1.6c0.6-0.4,1.3-0.7,2-0.9c0.4-0.1,0.8-0.2,1.1-0.3c1.1-0.2,2.1-0.6,3.1-1c0.2-0.1,0.6,0.1,0.7,0.3
	c0.2,0.6,0.4,1.2,0.4,1.8c0,0.6,0,1.1,0.2,1.7c0.1,0.3,0.1,0.6,0.1,0.8c0.3,2.8,0.6,5.6,0.7,8.5c0,1.2,0.1,2.5,0.4,3.7
	c0.2,0.7,0,1.5,0.1,2.2c0,0.3,0,0.7,0,1c0.2,2.6,0.3,5.2,0.5,7.8c0.3,3,0.5,6,1,9c0.2,1.3,0.4,2.7,0.5,4.1c0,1,0.3,1.9,0.4,2.9
	c0.1,0.7,0.2,1.4,0.2,2c0.3,3.2,0.7,6.3,1.1,9.5c0.2,1.2,0.5,2.4,0.7,3.7c0.1,0.6-0.1,1.2-0.6,1.5c-0.7,0.4-1.4,0.7-2.1,1.1
	c-0.1,0-0.2,0.1-0.3,0.1c-1.6,0.5-3.1,1.3-4.6,2.1c-0.5,0.3-1,0.6-1.5,0.8c-0.4,0.2-0.9,0.3-1.3,0.2c-0.4-0.1-0.7-0.3-0.8-0.6
	c-0.3-0.9-0.6-1.8-0.7-2.8c-0.2-1.3-0.4-2.6-0.6-3.9c-0.1-0.4-0.1-0.8-0.1-1.2c-0.1-1.6-0.3-3.3-0.6-4.9c0-0.1,0-0.2-0.1-0.3
	c-0.1-2.7-0.6-5.3-0.9-7.9c-0.2-2-0.4-4-0.8-5.9c0-0.2-0.1-0.5-0.1-0.7c0-2-0.3-4-0.6-5.9c0-0.3-0.1-0.7-0.1-1
	c0-1.6-0.1-3.3-0.3-4.9c0-0.2,0-0.3,0-0.5c0.1-2.1-0.2-4.2-0.4-6.3c-0.1-1.9-0.3-3.8-0.5-5.8c-0.1-0.9-0.2-1.8-0.3-2.7
	c-0.1-0.7-0.1-1.5-0.2-2.2C308.7-10.2,308.7-10.5,308.6-10.8z"></path> <path mask="url(#mask12L)" class="letters-white" d="M296.7,72.2c0.2,0.7,0.3,1.4-0.1,2.1c-0.1,0.2-0.1,0.5,0.1,0.8c0.1,0.3,0.3,0.6,0.5,0.9
	c0.8,0.9,1.2,2,1.4,3.2c0.2,0.8,0.6,1.5,1.5,1.7c0.3,0.1,0.6,0.3,0.8,0.6c0.5,0.8,1.1,1.5,1.7,2.3c0.2,0.4,0.6,0.5,1,0.5
	c0.2,0,0.4,0,0.5-0.1c0.2-0.2,0.4-0.4,0.6-0.6c0.9-1.1,1.8-2,2.8-2.8c1.6-1.4,3.1-2.7,4.7-4c0.9-0.7,1.8-1.5,2.7-2.3
	c2.6-2.2,5.3-4.4,8-6.4c1-0.8,2.1-1.6,3-2.5c0.4-0.4,0.9-0.7,1.4-1c0.9-0.5,1.7-1.3,2.6-1.8c2.6-2,5.3-4,8.2-5.7
	c0.9-0.6,1.8-1.1,2.9-1.3c0.3,0,0.5-0.3,0.7-0.5c0.2-0.3,0.3-0.7,0.2-1.1c-0.2-0.7-0.4-1.4-0.4-2.1c-0.5-1-1-2-1.6-3
	c-0.3-0.4-0.5-0.8-0.6-1.2c-0.3-1-0.8-1.8-1.5-2.6c-0.4-0.4-0.9-0.7-1.5-0.7c-0.4,0-0.8,0-1.2,0c-0.3,0.4-0.6,0.7-1,1
	c-0.4,0.3-0.8,0.5-1.2,0.7c-1.4,0.9-2.7,1.8-4.1,2.7c-2.1,1.4-4.1,2.9-6.1,4.4c-2.9,2.1-5.6,4.2-8.4,6.4c-1.4,1-2.7,2.1-4,3.2
	c-0.7,0.6-1.4,1.1-2.1,1.7c-0.2,0.1-0.4,0.2-0.6,0.3c-0.2,0-0.5-0.1-0.6-0.3c-0.1-0.6-0.3-1.1-0.4-1.7c-0.5-2.4-0.9-4.8-1.4-7.2
	c-0.3-1.3-0.5-2.7-0.7-4c0-0.3-0.1-0.5-0.1-0.7c-0.7-3.1-0.9-6.3-1.5-9.4c-0.3-1.8-0.6-3.6-0.9-5.4c-0.3-1.7-0.7-3.3-1-5
	c-0.3-1.6-0.6-3.3-0.7-4.9c-0.1-2.1-0.4-4.2-0.4-6.3c0-0.3,0-0.7-0.1-1c-0.4-1.8-0.8-3.5-1.2-5.3c-0.4-1.3-0.6-2.7-0.8-4
	c-0.2-1.5-0.4-3.1-0.4-4.7c0.1-0.6,0-1.3-0.1-2c-0.1-0.7-0.2-1.3-0.2-1.9c-0.1-1.5-0.2-3.1-0.4-4.7c-0.1-0.7-0.1-1.5,0-2.2
	c0.1-0.6,0-1.1,0-1.7c0-0.6-0.2-1.1-0.5-1.6s-1-0.7-1.5-0.5c-0.1,0-0.2,0-0.3,0.1c-1.2,0.6-2.3,1.2-3.5,1.8
	c-0.8,0.4-1.6,0.8-2.3,1.4c-0.3,0.2-0.7,0.4-1,0.6c-0.5,0.3-1,0.5-1.5,0.8c-1.5,0.8-1.3,1.1-0.9,2.3c0.4,0.9,0.4,1.9,0.6,2.8
	c-0.1,2,0.2,3.9,0.4,5.9c0.2,2.5,0.4,5,0.6,7.5c0.1,1.6,0.3,3.2,0.7,4.7c0.3,1.3,0.7,2.5,1,3.8c0.1,0.4,0.2,0.9,0.3,1.3
	c0.3,2.1,0.6,4.2,0.7,6.3c0.1,1.6,0.3,3.3,0.5,4.9c0.1,0.9,0.3,1.8,0.5,2.7c0.4,1.5,0.7,3,1,4.5c0.5,2.9,1,5.8,1.5,8.7
	c0.3,1.5,0.5,3,0.7,4.5c0,0.5,0.1,1,0.2,1.5L296.7,72.2z"></path> <path mask="url(#mask12K)" class="letters-white" d="M305.6,68.3c-0.1-0.5-0.3-1.1-0.5-1.6c-0.5-1.6-0.9-3.3-1.1-4.9c0-0.1-0.1-0.2,0-0.3
	c-0.2-0.8-0.4-1.5-0.6-2.3c-0.2-0.6-0.7-0.9-1.3-0.9c-1.3-0.1-5.1-0.8-8.3-1.2l0.1-0.3c-0.1,0.1-0.2,0.3-0.4,0.3
	c-1.1,0-2.1,0-3.1-0.1c-2.5-0.2-5-0.2-7.5-0.5c-1.7-0.2-3.4-0.3-5.1-0.5c-1.5-0.1-3.1-0.3-4.7-0.5c-1.7-0.2-3.3-0.5-5-0.8
	c-0.3-0.1-0.6-0.2-0.8-0.3c-0.1-0.1-0.2-0.3-0.2-0.4c-0.1-0.2,0-0.3,0-0.5c0.4-2.2,0.9-4.3,1.4-6.5c0.3-1.5,0.8-3.1,1.2-4.6
	c0.2-0.8,0.5-1.5,0.7-2.3c0.6-2.5,1.5-5.1,2.3-7.6c0.9-2.7,1.9-5.2,3-7.8c0.9-2.2,2.1-4.3,3.3-6.3c1.1-1.8,2.4-3.5,3.6-5.2
	c0.6-0.8,1.3-1.6,2.2-2.1c0.3-0.1,0.4-0.4,0.4-0.7c0.1-0.4,0-0.8-0.3-1.1c-0.5-0.5-0.9-0.9-1.5-1.2c-0.6-0.3-1.1-0.6-1.7-0.8
	c-1.1-0.5-2.1-1-2.9-1.8c-0.1-0.1-0.2-0.2-0.3-0.2c-0.8-0.3-1.4-0.8-2-1.3c-0.2-0.2-0.4-0.3-0.7-0.4c-0.7-0.1-1.3-0.3-2-0.4
	c-0.2-0.1-0.5,0-0.7,0c-0.3,0.1-0.6,0.5-0.4,0.8c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.2,0.3,0.4,0.4,0.6c-0.5,0.7-1,1.4-1.5,2.1
	c-1.1,1.5-2.2,2.9-3.1,4.5c-2,3.4-3.8,6.8-5.1,10.4c-0.4,1.2-1,2.4-1.4,3.6c-1.1,3.3-2.2,6.6-3.2,9.9c-0.6,1.9-1.3,3.8-1.7,5.7
	c-0.2,0.5-0.4,1-0.7,1.5c-0.2,0.3-0.6,0.3-0.8,0c-0.3-0.4-0.4-0.8-0.6-1.2c-0.3-0.9-0.7-1.9-1.1-2.8c0-0.2-0.1-0.4-0.2-0.6
	c-0.6-1.9-1.2-3.8-1.8-5.8c-0.4-1.2-0.9-2.3-1.4-3.5c-0.3-0.8-0.7-1.7-1-2.5c-0.4-0.9-0.7-1.8-1.1-2.7c-0.4-0.8-0.8-1.7-1.1-2.5
	c-0.4-0.9-0.9-1.7-0.9-2.6c-0.6-0.9-0.7-1.9-1.2-2.8c-0.3-0.7-0.8-1.4-0.8-2.2c0-0.1-0.3-0.2-0.4-0.2c-0.2,0-0.3,0-0.5,0.1
	c-0.4,0.2-0.7,0.4-1.1,0.5c-1.2,0.4-2.3,1.1-3.1,2.1c-1.2,0-1.2,0-2,0.4c-0.9,0.5-1.8,0.9-2.7,1.4c-0.2,0.1-0.5,0.2-0.7,0.5
	c0,0.4,0.1,0.9,0.1,1.3c-0.1,0.5,0.2,1,0.2,1.5c0,1.4,0.5,2.7,0.9,4c0.3,0.9,0.6,1.7,0.9,2.6c0.2,0.8,0.6,1.7,1,2.5
	c0.5,1.2,1.1,2.5,1.6,3.7c0.9,2,1.7,3.9,2.3,5.9c0.6,1.8,1.1,3.6,1.8,5.3c0.5,1.3,0.9,2.5,1.1,3.8c0.1,0.5,0.2,1.1,0.4,1.5
	c0.6,1.3,0.7,2.5,0.2,3.8c-0.1,0.2-0.2,0.5-0.1,0.8c0.1,0.4,0.5,0.5,0.8,0.6c0.1,0,0.2,0.1,0.3,0.2V56c0,0.1-0.1,0.1-0.1,0.1
	c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2-0.1-0.3-0.1c-0.5-0.1-0.8,0-1,0.4c-0.7,1.4-1.3,2.9-2,4.3c-0.1,0.2,0,0.5,0.2,0.6
	c0.2,0.1,0.4,0.2,0.6,0.2c1.7,0.3,3.4,0.9,4.9,1.8c0.3,0.2,0.6,0.2,0.8,0.4c0.3,0.2,0.7,0.3,1,0.8c0.4,1.8,1.2,3.6,1.8,5.5
	c0.4,1.1,0.8,2.1,1.2,3.2c0.2,0.4,0.1,0.9,0.4,1.3c0.8,2.2,1.5,4.4,2.5,6.5c0.1,0.2,0.1,0.3,0.2,0.5c0.7,1.9,1.3,3.8,1.8,5.7
	c0.1,0.4,0.2,0.7,0.3,1c0.7,1.4,1.2,2.8,1.7,4.3c0.7,2.2,1.4,4.5,2.1,6.8c0,0.2,0.1,0.4,0.2,0.6c0.1,0.1,0.4,0.3,0.6,0.3
	c1-0.3,2.1-0.3,3.2-0.4c0.2,0,0.3-0.1,0.5-0.1c1.6-0.6,3.2-1.1,4.8-1.6c0.6-0.3,1.3-0.5,1.6-1.2c0.1-0.1,0.3-0.2,0.4-0.3
	c0.3-0.2,0.3-0.6,0.3-0.9s-0.1-0.7-0.2-1c-0.2-0.6-0.4-1.2-0.6-1.8c-0.5-2.1-1.3-4-2-6c-0.3-0.8-0.6-1.5-0.7-2.4
	c0-0.3-0.2-0.5-0.3-0.8c-0.3-1.1-0.7-2.1-1-3.1c-0.9-2.9-1.8-5.7-3-8.5c-0.4-1.1-0.7-2.2-1-3.4c-0.2-0.4-0.2-0.9,0-1.3
	c0.2-0.3,0.4-0.5,0.8-0.5c1.1,0.1,2.3,0.2,3.5,0.4c1.3,0.1,2.6,0.4,4,0.5c0.7,0,1.5,0.1,2.2,0.2c1.5,0.1,2.9,0.3,4.4,0.4
	c2.3,0.2,4.6,0.4,6.9,0.6c1.6,0.2,3.2,0.3,4.8,0.4l0,0c0.2,0,0.4,0.1,0.6,0.1c0.1-0.1,0.2-0.1,0.3,0c1.6,0.1,3.3,0.2,4.9,0.5
	c0.4,0.1,0.8,0.2,1.2,0.2c1.3,0.1,2.6,0.2,3.9,0.3c1,0.1,1.9,0,2.9-0.1c0.3,0,0.6-0.3,0.8-0.7C305.7,69.3,305.7,68.7,305.6,68.3z"></path> </g></svg>